@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

@layer components {
  .title {
    @apply text-[28px] font-medium tracking-wide;
  }
  .text-common {
    @apply text-gray01 text-[14px] font-normal tracking-wide;
  }
  .subtitle {
    @apply text-gray01 text-[16px] font-normal tracking-wide;
  }
  .text-error {
    @apply text-red01 font-medium uppercase text-[18px];
  }

  .text-health-system {
    @apply flex items-center gap-5;
  }

  .section {
    @apply px-9 py-6 flex flex-col w-full gap-4 transition-all duration-300 ease-in-out;
  }
}

@layer utils {
}

.loader {
  position: fixed;
  top: 50%;
  left: 55%;
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-left-color: #03294b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
